body {
    display: flex;
}

.game-container {
    width: 500px;
    height: 730px;
    position: absolute;
    left: 85px;
}

.sky {
    background-color: lightblue;
    width: 500px;
    height: 600px;
    position: absolute;
}

.ground {
    background-color: saddlebrown;
    width: 500px;
    height: 150px;
    position: absolute;
    top: 580px;
    z-index: +1;
}

.borderTop {
    width: 660px;
    height: 50px;
    position: absolute;
    background-color: white;
    z-index: +2;
    top: -50px;
}

.borderBottom {
    width: 660px;
    height: 50px;
    position: absolute;
    background-color: white;
    z-index: +2;
}

.borderRight {
    width: 80px;
    height: 850px;
    position: absolute;
    background-color: white;
    z-index: +2;
}

.borderLeft {
    width: 80px;
    height: 850px;
    position: absolute;
    background-color: white;
    z-index: +2;
}

.bird {
    background-color: yellow;
    position: absolute;
    width: 60px;
    height: 45px;
}

.obstacle {
    background-color: green;
    width: 50px;
    height: 300px;
    position: absolute;
}

.topObstacle {
    background-color: green;
    transform: rotate(180deg);
    width: 50px;
    height: 300px;
    position: absolute;
}